<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.TModuleMapper">
  <resultMap id="BaseResultMap" type="com.demo.beans.TModule">
    <id column="moduleid" jdbcType="VARCHAR" property="moduleid" />
    <result column="modulename" jdbcType="VARCHAR" property="modulename" />
    <result column="execfile" jdbcType="VARCHAR" property="execfile" />
    <result column="ifleaf" jdbcType="VARCHAR" property="ifleaf" />
    <result column="pos" jdbcType="VARCHAR" property="pos" />
    <result column="parentid" jdbcType="VARCHAR" property="parentid" />
    <result column="rel" jdbcType="VARCHAR" property="rel" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    moduleid, modulename, execfile, ifleaf, pos, parentid, rel, flag
  </sql>
  <select id="selectByExample" parameterType="com.demo.beans.TModuleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_module
    where moduleid = #{moduleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_module
    where moduleid = #{moduleid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.demo.beans.TModuleExample">
    delete from t_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demo.beans.TModule">
    insert into t_module (moduleid, modulename, execfile, 
      ifleaf, pos, parentid, 
      rel, flag)
    values (#{moduleid,jdbcType=VARCHAR}, #{modulename,jdbcType=VARCHAR}, #{execfile,jdbcType=VARCHAR}, 
      #{ifleaf,jdbcType=VARCHAR}, #{pos,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{rel,jdbcType=VARCHAR}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.beans.TModule">
    insert into t_module
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="moduleid != null">
        moduleid,
      </if>
      <if test="modulename != null">
        modulename,
      </if>
      <if test="execfile != null">
        execfile,
      </if>
      <if test="ifleaf != null">
        ifleaf,
      </if>
      <if test="pos != null">
        pos,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="rel != null">
        rel,
      </if>
      <if test="flag != null">
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="moduleid != null">
        #{moduleid,jdbcType=VARCHAR},
      </if>
      <if test="modulename != null">
        #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="execfile != null">
        #{execfile,jdbcType=VARCHAR},
      </if>
      <if test="ifleaf != null">
        #{ifleaf,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        #{pos,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="rel != null">
        #{rel,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demo.beans.TModuleExample" resultType="java.lang.Long">
    select count(*) from t_module
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_module
    <set>
      <if test="record.moduleid != null">
        moduleid = #{record.moduleid,jdbcType=VARCHAR},
      </if>
      <if test="record.modulename != null">
        modulename = #{record.modulename,jdbcType=VARCHAR},
      </if>
      <if test="record.execfile != null">
        execfile = #{record.execfile,jdbcType=VARCHAR},
      </if>
      <if test="record.ifleaf != null">
        ifleaf = #{record.ifleaf,jdbcType=VARCHAR},
      </if>
      <if test="record.pos != null">
        pos = #{record.pos,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null">
        parentid = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.rel != null">
        rel = #{record.rel,jdbcType=VARCHAR},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_module
    set moduleid = #{record.moduleid,jdbcType=VARCHAR},
      modulename = #{record.modulename,jdbcType=VARCHAR},
      execfile = #{record.execfile,jdbcType=VARCHAR},
      ifleaf = #{record.ifleaf,jdbcType=VARCHAR},
      pos = #{record.pos,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=VARCHAR},
      rel = #{record.rel,jdbcType=VARCHAR},
      flag = #{record.flag,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.beans.TModule">
    update t_module
    <set>
      <if test="modulename != null">
        modulename = #{modulename,jdbcType=VARCHAR},
      </if>
      <if test="execfile != null">
        execfile = #{execfile,jdbcType=VARCHAR},
      </if>
      <if test="ifleaf != null">
        ifleaf = #{ifleaf,jdbcType=VARCHAR},
      </if>
      <if test="pos != null">
        pos = #{pos,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="rel != null">
        rel = #{rel,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where moduleid = #{moduleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.beans.TModule">
    update t_module
    set modulename = #{modulename,jdbcType=VARCHAR},
      execfile = #{execfile,jdbcType=VARCHAR},
      ifleaf = #{ifleaf,jdbcType=VARCHAR},
      pos = #{pos,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR},
      rel = #{rel,jdbcType=VARCHAR},
      flag = #{flag,jdbcType=INTEGER}
    where moduleid = #{moduleid,jdbcType=VARCHAR}
  </update>
</mapper>